@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.801) !important;
    color: #FFFFFF;
    cursor: pointer;
}

/* Header part css start */
.menubar {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 55px;
    background-color: #fafbfc;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    padding: 16px 25px;
}

li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #17181A;
}

.demo-btn button {
    padding: 11px 20px;
    background: rgba(0, 112, 240, 0.9);
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* Header part css end */
/* About-us css Start */
.about-us {
    background: #FAFBFC;
    min-height: 100vh;
}

.aboutuspages {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 80px;
}

.about-images {
    width: 400px;
    height: 450px;
    border: 0.800421px solid #0070F0;
    border-radius: 16px 80px;
    position: relative;
}

.section-img {
    width: 400px;
    height: 450px;
    background: rgba(175, 209, 248, 0.4);
    opacity: 0.98;
    border-radius: 16px 80px;
    position: absolute;
    top: 55px;
    left: 55px;
}

.aboutimg img {
    width: 400px;
    height: 450px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.about-page-texts {
    padding-top: 80px;
}

.about-page-texts h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    font-feature-settings: 'liga' off;
    color: #1F284F;
}

.about-page-texts h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #1F284F;
    padding-top: 30px;
}

.about-page-texts p {
    padding-top: 14px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #575757;
}

.about-btns {
    display: flex;
    gap: 16px;
}

.book-demo {
    background: #3CBA79 !important;
    border: 1px solid #3CBA79;
}

/* About-us css End */

/* Location section start */

.our-locations {
    background: #E5E5E5;
    padding: 0 40px;
}

.our-locations h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #1F284F;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.allLocation {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 40px;
    padding-bottom: 30px;
}

.location {
    width: 343px;
    height: 397px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.04));
    background: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
}

.locationtext {
    padding: 16px 24px 24px 24px;
}

.contacts-address {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.contacts-address img {
    padding-right: 8px;
}

.locationtext h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #1F284F;
    padding-bottom: 16px;
}

.locationtext p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #575757;
}

/* Location section End */

/* Compamies section Start */

.our-customer-companies {
    padding: 80px 0;
}

.our-customer-companies h4 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #1F284F;
}

.companies {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

/* Companies Section End  */


/* product-feature section start */

.productfeatures {
    background: #E5E5E5;
    padding: 75px 0;
}

.productfeatures h4 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-feature-settings: 'liga' off;
    color: #1F284F;
    padding-bottom: 48px;
}

.product-feature-lists {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.products {
    width: 350px;
    height: 148px;
    display: flex;
    flex-direction: column;
}

.products img {
    margin: 0 auto;
    padding-bottom: 24px;
}

.products h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #18191F;
    padding-bottom: 8px;
}

.products p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #575757;
}

.product-list2 {
    padding-top: 60px;
}

/* product-feature section end */

/* story section Start */
.our-story {
    padding: 60px 45px;
}

.storysections {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 55px;
    padding-bottom: 48px;
}

.storytext h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-feature-settings: 'liga' off;
    color: #1F284F;
    padding-bottom: 32px;
}

.storytext h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #17181A;
    padding-bottom: 32px;
}

.storytext h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #17181A;
}

.storytext p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #575757;
}

/* story section End */

/* Our Team start */

.teams {
    background: #EFF5FE;
}

.team {
    display: flex;
    justify-content: center;
    gap: 130px;
    padding-bottom: 48px;
    text-align: center;
}

.teams h1 {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 48px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #1F284F;
}

/* .member{
        box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.1);
    } */
.member h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    padding-top: 24px;
}

.member h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* Our Team css end */

/* form and offer section start */

.white-card {
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.offer-text {
    padding-top: 200px;
}

.blue-card {
    height: 200px;
    background: #1F384F;
}

form {
    width: 500px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-top: 130px;
    padding: 18px 32px 18px 32px;
}

.offer-text h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #1F284F;
    padding-bottom: 24px;
}

.offer-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #575757;
}

.first-row {
    display: flex;
    gap: 20px;
    padding-bottom: 16px;
}

.first-row input {
    width: 207px;
    height: 48px;
}

form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #515458;
}

form input[type="text"] {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    padding: 8px;
}

form input {
    background: #FFFFFF;
    border: 1px solid #B7BFC7;
    border-radius: 5px;
    width: 100%;
    height: 48px;
}

.form-control {
    padding-bottom: 16px;
}

::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    padding: 8px;
}

.btn-privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn {
    background: rgba(0, 112, 240, 0.9);
    border: 1px solid rgba(0, 112, 240, 0.9);
    border-radius: 30px;
    padding: 12px 24px;
    color: #FFFFFF;
}

.blue-card {
    position: relative;
    z-index: -1;
}

.blue-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0, 112, 240, 0.9);
    opacity: 0.3;
    left: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
}

/* .square {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: repeating-linear-gradient(11deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 0px, transparent 4px);
    position: absolute;
    right: 45%;
} */



/* form and offer section end */

/* Footer part */

footer {
    background: #FAFBFC;
    padding: 84px 100px 0 150px;
}

.title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #515458;
    padding: 22px 0 2px 0;
}

.social-icon {
    width: 24px;
    height: 24px;
    border: 1px solid #515458;
    border-radius: 24px;
}

.isoimg {
    padding-bottom: 24px;
}

.social-icon .fb-icon {
    padding: 5px 3px 3px 8px;
}

.social-icon .tw-icon {
    padding: 6px 0 10px 6px;
}

.social-icon .linkdin-icon {
    padding: 8px 5px 10px 8px;
}

.social-icon .instagram-icon {
    padding: 5px 6px 10px 6px;
}

.social-media-icons {
    display: flex;
    padding-left: 20px;
    gap: 8px;
}

.footer-1 {
    display: flex;
    padding: 44px 0;
}

.opmentek-features {
    padding-left: 100px;
}

.opmentek-features h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #17181A;
    padding-bottom: 24px;
}

.opmentek-features a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #515458;
}

.opmentek-features p {
    padding-bottom: 24px;
}

.supports {
    padding-left: 20px;
}

.support-list {
    display: flex;
    gap: 18px;
    padding-bottom: 20px;
    align-items: center;
}

.support-list span {
    color: #515458;
}

.support-list h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    color: #17181A;
    font-feature-settings: 'salt' on, 'liga' off;
}

.supports h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #17181A;
    padding-bottom: 27px;
}

.footer-2 {
    display: flex;
    padding: 44px 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 34px 0;
    flex-wrap: wrap;
}

.copyright p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}

.feature-list img {
    display: none;
}












/* Media Query */

@media screen and (max-width:1130px) {
    .our-locations {
        padding: 0;
    }

    .our-locations h1 {
        text-align: center;
    }

    .allLocation {
        flex-direction: column;
        align-items: center;
    }
}


/* 1024px */

@media screen and (max-width:1024px) {
    .home {
        flex-direction: column-reverse;
        align-items: center;
    }

    .menubar {
        display: block;
    }

    nav li,
    nav button {
        display: none;
    }

    /* header-home end */
    .companies-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Companies css end */


    .product-feature-lists {
        flex-direction: column;
        align-items: center;
    }

    /* product-feature css end */

}

/* 440px */
@media screen and (max-width:440px) {
    nav {
        padding: 25px;
    }

    .our-locations {
        padding: 0;
        text-align: center;
    }

    .allLocation {
        justify-content: center;
    }

    .location {
        width: 300px;
        height: 350px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.04));
        background: #FFFFFF;
        border-radius: 0px 0px 16px 16px;
    }

    .locationtext {
        padding: 8px 16px 16px 16px;
    }

    .contacts-address img {
        padding-right: 6px;
    }

    .locationtext h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-transform: capitalize;
        color: #1F284F;
        padding-bottom: 8px;
    }

    .locationtext p {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-transform: capitalize;
        color: #575757;
    }

    .mainimg {
        width: 300px;
    }

    .companies-list {
        display: flex;
        flex-direction: column;
    }

    /* Companies css end */


    .productfeatures {
        padding-left: 15px;
        padding-right: 15px;
    }

    .products h2 {
        font-size: 20px;
    }

    .products p {
        font-size: 15px;
        line-height: 15px;
    }

    /* product-list css end */

}

/* 992px */
@media screen and (max-width: 992px) {
    .aboutuspages {
        flex-direction: column-reverse;
        gap: 0;
        align-items: center;
        padding: 20px;
    }

    .about-images {
        width: 100%;
        position: static;
    }

    .aboutimg img {
        width: 100%;
        position: static;
    }

    .section-img {
        display: none;
    }

    .about-page-texts {
        padding-top: 15px;
    }

    .our-locations {
        padding: 0;
        text-align: center;
    }

    .allLocation {
        justify-content: center;
    }

    .teams {
        padding: 0;
    }

    .team {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .white-card {
        height: 100%;
        flex-direction: column;
        gap: 0;
        justify-content: flex-start;
        align-items: center;
        padding: 25px;
    }
    .square1{
        display: none;
    }
    form {
        margin: 0;
    }

    .offer-text {
        padding: 0;
    }

    .blue-card {
        display: none;
    }
}



/* 590px */
@media screen and (max-width:590px) {
    .our-story {
        padding: 10px;
    }

    .story-img img {
        width: 295px;
    }
}

@media screen and (max-width: 500px) {
    .offer-and-form {
        width: 100%;
        padding: 0;
    }

    form {
        padding: 0;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        margin-top: 0;
    }

    .first-row {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding-bottom: 6px;
    }

    .first-row input {
        width: 100%;
        height: 28px;
    }

    form label {
        font-size: 10px;
        line-height: 12px;
    }

    form input[type="text"] {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        padding: 12px;
    }

    form input {
        border-radius: 5px;
        width: 100%;
        height: 28px;
    }

    .form-control {
        padding-bottom: 6px;
    }

    ::placeholder {
        font-size: 10px;
    }
}

@media screen and (max-width:768px) {

    /* footer start */
    footer {
        padding: 32px 16px;
    }

    .quality-social-media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 49px 0;
    }

    .footer-1 {
        padding: 0;
        flex-direction: column;
    }

    .footer-2 {
        padding: 49px 0 0 0;
        flex-direction: column-reverse;
    }

    .support {
        padding-top: 49px;
        padding-left: 0;
    }

    .opmentek-features {
        padding: 0 0 16px 0;
    }

    .opmentek-features p {
        display: none;
        padding-bottom: 0;
    }

    .isoimg {
        padding-bottom: 0;
    }

    .isoimg img {
        width: 101px;
        height: 44px;
    }

    .feature-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .feature-list img {
        display: block;
    }

    .open p {
        display: block;
        padding-top: 16px;
    }

    .footer-logo {
        width: 129px;
        height: 22px;
    }

    .opmentek-features h3 {
        padding-bottom: 0;
    }

    /* footer end */

}


/* 380px */
@media screen and (max-width:380px) {
    footer {
        padding: 15px 5px 15px 5px;
    }

    .copyright {
        gap: 25px;
    }

    hr {
        display: block;
    }
}




@media screen and (max-width: 1150px) and (min-width:768px) {
    footer {
        padding: 25px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-1,
    .footer-2 {
        padding: 25px;
    }

    .opmentek-features {
        display: none;
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    hr {
        display: none;
    }
}