@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.801) !important;
    color: #FFFFFF;
    cursor: pointer;
}



/* Header part css start */

.menubar {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 55px;
    background-color: #fafbfc;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    padding: 16px 25px;
}

li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #17181A;
}

.demo-btn button {
    padding: 11px 20px;
    background: rgba(0, 112, 240, 0.9);
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}


/* Header part css end */

/* financial-home section start */

    .financial-home{
        background: #FAFBFC;
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 65px;
    }
    .financial-home-texts{
        padding-top: 105px;
    }
    .financial-home-texts h1{
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        font-feature-settings: 'liga' off;
        color: #1F284F;
        padding-bottom: 20px;
    }
    .financial-home-texts h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        font-feature-settings: 'liga' off;
        color: #1F284F;
        padding-bottom: 14px;
    }
    .financial-home-texts p{
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        font-feature-settings: 'liga' off;
        color: #575757;
    }
/* financial-home section end */

/* Annual Report Section Start */
.annual-reports{
    padding: 75px 0;
}
.annual-reports h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #1F284F;
    padding-bottom: 48px;
}
    .yearly{
        width: 250px;
        height: 135px;
        background: rgba(251, 251, 251, 0.5);
        border: 1px solid rgba(196, 196, 196, 0.4);
        border-radius: 16px;
        padding: 36px 24px 24px;;
    }
    .yearly h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #1F284F;
        padding-bottom: 14px;
    }
    .yearly a{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: rgba(0, 112, 240, 0.9);
        text-decoration: none;

    }
    span{
        width: 25px;
        color: #1F284F;
        padding-right: 18px;
    }   
    .reports{
        display: flex;
        justify-content: center;
        gap: 90px;
        padding-bottom: 22px;
    }
/* Annual Report Section End */

/* form and offer section start */

.white-card {
    height: 350px;
    display: flex;
    justify-content: center;
    gap: 70px;
    position: relative;
    padding-top: 70px;
}


.blue-card {
    height: 200px;
    background: #1F384F;
}

form {
    width: 500px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 18px 32px 18px 32px;
}
.offer-text{
    padding-top: 25px;
}
.offer-text h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #1F284F;
    padding-bottom: 24px;
}

.offer-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;    
    font-feature-settings: 'liga' off;
    color: #575757;
}

form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #515458;
}

form input {
    background: #FFFFFF;
    border: 1px solid #B7BFC7;
    border-radius: 5px;
    width: 100%;
    height: 48px;
}

.form-control {
    padding-bottom: 16px;
}

::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    padding: 8px;
}



.blue-card {
    position: relative;
    z-index: -1;
}

.blue-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0, 112, 240, 0.9);
    opacity: 0.3;
    left: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
}

/* .square {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: repeating-linear-gradient(11deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 0px, transparent 4px);
    position: absolute;
    right: 45%;
} */


/* form section end */

/* Corporate Governance section start */
    .corporate-governess{
        background: #FAFBFC;
    }
    .corporate-governess h1{
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #1F284F;
        padding: 50px 0;
    }
    .corporate-governess-text{
        display: flex;
        justify-content: center;
    }
    .corporate-governess-text p{
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        color: #575757;
    }
    input[type="radio"]:checked+label {
        color: rgba(0, 112, 240, 0.9);
    }
    .our-policies-download{
        padding-left: 127px;
    }
    .our-policies-download h4{
        padding: 48px 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        font-feature-settings: 'liga' off;
        color: #1F284F;
    }
    .policy-download{
        padding-bottom: 24px;
    }
    .policy-download label{
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #17181A;
        padding-left: 28px;
    }
  
/* Corporate Governance section End */

/* frequntly asked question section Start */
    .faq{
        background: #E5E5E5;
        padding: 20px;
    }
    .faq h2{
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #1F284F;
        padding: 60px 0;
    }
    .que-ans{
        display: flex;
        align-items:center;
        padding-bottom: 27px;
        justify-content: space-between;
        gap: 105px;
    }
    .faq-questions-ans{
        display: flex;
        justify-content: center;
    }
    .faq h5{
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #17181A;
    }
/* frequntly asked question section End */

/* footer section start */
/* Footer part */

footer{
    background: #FAFBFC;
    padding: 84px 100px 0 150px;
}
.title p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #515458;
    padding: 22px 0 2px 0;
}
.social-icon{
    width: 24px;
    height: 24px;
    border: 1px solid #515458;
    border-radius: 24px;
}
.isoimg{
    padding-bottom: 24px;
}
.social-icon .fb-icon{
    padding: 5px 3px 3px 8px;  
}
.social-icon .tw-icon{
    padding: 6px 0 10px 6px;  
}
.social-icon .linkdin-icon{
    padding: 8px 5px 10px 8px;  
}
.social-icon .instagram-icon{
    padding: 5px 6px 10px 6px;  
}
.social-media-icons{
    display: flex;
    padding-left: 20px;
    gap: 8px;
}
.footer-1{
    display: flex;
    padding: 44px 0; 
}
.opmentek-features{
    padding-left: 100px;
}
.opmentek-features h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #17181A;
    padding-bottom: 24px;
}
.opmentek-features a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #515458;
}
.opmentek-features p{
    padding-bottom: 24px;
}
.supports{
    padding-left: 20px;
}
.support-list{
    display: flex;
    gap: 18px;
    padding-bottom: 20px;
    align-items: center;
}
.support-list span{
    color: #515458;
}
.support-list h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    color: #17181A;
    font-feature-settings: 'salt' on, 'liga' off;
}
.supports h3{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
color: #17181A;
padding-bottom: 27px;
}
.footer-2{
    display: flex;
    padding: 44px 0; 
}
.copyright{
    display: flex;
    justify-content: space-between;
   padding: 34px 0;
   flex-wrap: wrap;
}
.copyright p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: right;
}
.feature-list img{
    display: none;
}

/* footer section end */
































/* Media Query */

/* 1050px */
@media screen and (max-width:1050px) {
    .financial-home{
        gap: 15px;
    }
    .financial-home-texts{
        padding: 25px;
    }
}


/* 1024px */

@media screen and (max-width:1024px) {
    .home {
        flex-direction: column-reverse;
        align-items: center;
    }

    .menubar {
        display: block;
    }

    nav li,
    nav button {
        display: none;
    }

    /* header end */

}

/* 768px */
@media screen and (max-width: 768px) {
    nav{
        padding: 25px;
    }
    .financial-home-texts{
        padding-top: 0;
    }
    .que-ans{
        align-items: flex-start;
        gap: 35px;
    }
     /* footer start */
     footer{
        padding: 32px 16px;
    }
    .quality-social-media{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 49px 0;
    }
    .footer-1{
        padding: 0;
        flex-direction: column;
    }
    .footer-2{
        padding: 49px 0 0 0;
        flex-direction: column-reverse;
    }
    .support{
        padding-top: 49px;
        padding-left: 0;
    }
    .opmentek-features{
        padding: 0 0 16px 0;
    }
    .opmentek-features p{
        display: none;
        padding-bottom: 0;
    }
    .isoimg{
        padding-bottom: 0;
    }
    .isoimg img{
        width: 101px;
        height: 44px;
    }
    .feature-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .feature-list img{
        display: block;
    }
    .open p{
        display: block;
        padding-top: 16px;
    }
    .footer-logo {
        width: 129px;
        height: 22px;
    }
    .opmentek-features h3{
        padding-bottom: 0;
    }
/* footer end */
}


/* 440px */
@media screen and (max-width: 440px) {
    .financial-home-img img{
        width: 100%;
    }
}




/* 992px */
@media screen and (max-width: 992px) {
    .annual-reports{
        padding: 15px;
    }
    .reports{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }


    .white-card {
        height: 100%;
        flex-direction: column;
        gap: 0;
        justify-content: flex-start;
        align-items: center;
        padding: 25px;
    }
    .square1{
        display: none;
    }
    form {
        margin: 0;
    }

    .offer-text {
        padding: 0;
    }

    .blue-card {
        display: none;
    }
    .corporate-governess-text{
        padding: 10px;
    }
    .corporate-governess-text p {
        font-size: 14px;
        line-height: normal;
    }
    .our-policies-download{
        padding: 10px;
    }
}


/* 380px */
@media screen and (max-width:380px) {
    footer{
        padding: 15px 5px 15px 5px;
    }
    .copyright{
        gap: 25px;
    }
    hr{
        display: block;
    }
}




@media screen and (max-width: 1150px) and (min-width:768px) {
    footer{
     padding: 25px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
    }
    .footer-1,.footer-2{
     padding: 25px;
    }
    .opmentek-features{
     display: none;
    }
    .copyright{
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    hr{
     display: none;
    }
 }


@media screen and (max-width: 500px) {
    .offer-and-form {
        width: 100%;
        padding: 0;
    }
    .white-card {
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 25px;
    }
    form {
        padding: 0;
        width: 100%;
        height: 230px;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        margin-top: 0;
    }

    form label {
        font-size: 10px;
        line-height: 12px;
    }

    form input {
        border-radius: 5px;
        width: 100%;
        height: 28px;
    }

    .form-control {
        padding-bottom: 6px;
    }
    form .demo-btn button{
        width: 100%;
    }
    ::placeholder {
        font-size: 10px;
    }
}