@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
button:hover{
    background-color: #17181A;
    cursor: pointer;
}
.login{
    width: 100%;
    display: flex;
    height: 100vh;
    position: relative;
}
.text{
    width: 50%;
    background: linear-gradient(141.34deg, #F5F0FF 0%, #EFF6FE 50.36%, #EDFAF5 100%);
}
.title-text{
    position: absolute;
    left: 10%;
    top: 25%;
}
span{
    color: #17181ae8;
}
.design1{
    position: absolute;
    top: 10%;
    padding-left: 275px;
}
.title-text h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px; 
    letter-spacing: 0.005em;
    color: #17181A;
   padding: 22px 0;
}
.title-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #17181A;
}
.form{
    width: 50%;
}
form{
    position: absolute;
    left: 58%;
    top: 20%;
}
form h2{
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #17181A;
    padding-bottom: 16px;
}
.form-control{
    padding-bottom: 8px;
}
input{
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B7BFC7;
    border-radius: 8px;
}
form label{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #515458;
}
.btn{
    padding-top: 20px;
    padding-bottom: 14px;
}
form a{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1F284F;
}
form button{
    width: 100%;
    padding: 12px 24px;
    background: rgba(0, 112, 240, 0.9);
    border: 1px solid rgba(0, 112, 240, 0.9);
    border-radius: 30px;
    color: #FFFFFF;
}
form h6{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #515458;
    padding-top: 14px;
}

form p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #575757;
}
::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    padding-left: 12px;
}


/* media query */

@media screen and (max-width: 900px) {
    .login{
        width: 100%;
        position: static;
        flex-direction: column;
        height: 0;
        align-items: center;
        padding-top: 50px;   
    }
    .title-text{
        width: 100%;
        position: static;
        padding: 10px;
    }
    form{
        position: static;
    }
}

@media screen and (max-width: 560px) {
    .text{
        width: 100%;
    }
    .title-text{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    form{
        width: 100%;
        padding: 15px;
    }
    form p{
        font-size: 10px;
    }
    .design1{
        display: none;
    }
}